body, html {
    margin: 0 auto;
    background-color: #323232;
    width: 100%;
    height: 100%;
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

#wrapper {
    margin: 0 auto;
    width: 85%;
    min-width: 1000px;
    height: 100%;
}

#navbar {
    position: fixed;
    width: 300px;
    height: 100%;
    margin-top: 50px;
}

#profile-pic {
    position: relative;
    left: 25px;
    width: 250px;
    height: 250px;

    transition: 0.3s;
}

#profile-pic:hover {
    cursor: pointer;
    transform: scale(1.07);

    transition: 0.3s;
}

#icon-container {
    position: relative;
    width: 100%;
    height: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.icon {
    position: relative;
    float: left;
    width: 62px;
    height: 62px;
    margin-left: 2px;
    margin-right: 3px;

    transition: 0.3s;
    border: 4px solid transparent;
}

/* Add in later
.icon:hover {
    transition: 0.3s;
    border: 4px solid #b2b2b2;
}
*/

.icon-img {
    opacity: 0.5;
    transition: 0.3s;
}

.icon-img:hover {
    opacity: 1.0;
    transform: scale(1.2);
    transition: 0.3s;
}

#button-container {
    position: relative;
    width: 100%;
    height: 320px;
}

.tab {
    position: relative;
    width: 100%;
    height: 72px;
    padding-top: 4px;
    padding-bottom: 4px;
}

#square {
    position: relative;
    width: 100%;
    height: 66px;

    transition: 0.3s;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;

    color: #D2527F;
}

#square:hover {
    cursor: pointer;
    border-top: 3px solid #D2527F;
    border-bottom: 3px solid #D2527F;
    transition: 0.3s;
}

#triangle {
    position: relative;
    width: 100%;
    height: 66px;

    transition: 0.3s;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;

    color: #65C6BB;
}

#triangle:hover {
    cursor: pointer;
    border-top: 3px solid #65C6BB;
    border-bottom: 3px solid #65C6BB;
    transition: 0.3s;
}

#circle {
    position: relative;
    width: 100%;
    height: 66px;

    transition: 0.3s;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;

    color: #D24D57;
}

#circle:hover {
    cursor: pointer;
    border-top: 3px solid #D24D57;
    border-bottom: 3px solid #D24D57;
    transition: 0.3s;
}

#x {
    position: relative;
    width: 100%;
    height: 66px;

    transition: 0.3s;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;

    color: #67809F;
}

#x:hover {
    cursor: pointer;
    border-top: 3px solid #67809F;
    border-bottom: 3px solid #67809F;
    transition: 0.3s;
}

.button-pic {
    position: relative;
    float: left;
    width: 66px;
    height: 66px;
}

.button-text-container {
    position: relative;
    float: left;
    width: 234px;
    height: 66px;
}

.button-text {
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);

    font-size: 25px;
    font-family: 'Muli', sans-serif;
}

#separator1 {
    position: fixed;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 300px;
    width: 40px;
    height: calc(100% - 20px - 20px);
}

#separator1-line {
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
    width: 10px;
    height: 100%;

    background-color: #cccccc;
}

#top-nav {
    position: fixed;
    margin-left: 350px;
    margin-top: 50px;
    width: calc(85% - 340px);
    height: 130px;
    min-width: 660px;
}

#top-content {
    position: relative;
    width: 100%;
    height: 90px;
}

#name {
    position: relative;
    width: 100%;
    height: 50px;

    color: #cccccc;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}

#location {
    position: relative;
    width: 100%;
    height: 40px;

    color: #cccccc;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

#separator2 {
    position: relative;
    width: 100%;
    height: 40px;
}

#separator2-line {
    position: relative;
    top: 15px;
    width: 100%;
    height: 10px;

    background-color: #cccccc;
}

#overview {
    position: relative;
    margin-left: 350px;
    top: 190px;
    width: calc(100% - 340px);
    height: calc(100% - 2% - 190px);

    display: none;
}

.overview-tile {
    position: relative;
    width: 100%;
    height: 33%;
}

.overview-header {
    position: relative;
    width: 100%;
    height: 30px;

    color: #cccccc;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;

    border-bottom: 1px solid #cccccc;
}

.overview-content {
    position: relative;
    width: 100%;
    height: calc(100% - 30px - 14px);
    margin-top: 7px;
    margin-bottom: 7px;
}

#summary {
    color: #cccccc;
    font-size: 27px;
    font-family: 'Muli', sans-serif;
}

#making-img {
    position: relative;
    float: left;
    border: 1px inset #cccccc;
    max-width: 99%;
    max-height: 99%;
}

#making-container {
    position: relative;
    padding-left: 20px;
    width: auto;
    overflow: hidden;
    height: 100%;
}

#making-title {
    position: relative;
    width: 100%;
    height: 40%;

    color: #cccccc;
    font-size: 30px;
    font-family: 'Muli', sans-serif;
}

#making-content {
    position: relative;
    width: 100%;
    height: 60%;

    color: #cccccc;
    font-size: 23px;
    font-family: 'Muli', sans-serif;
}

#recent-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.recent-tile {
    position: relative;
    float: left;
    margin-right: 1%;
    width: 32%;
    height: 100%;
}

.recent-img {
    position: absolute;
    border: 1px inset #cccccc;
    max-width: 99%;
    max-height: 99%;
}

.recent-img-text {
    position: relative;
    display: none;
    left: 10px;
    top: 80%;
    transform: translateY(-100%);

    color: #cccccc;
    font-size: 23px;
    font-family: 'Montserrat', sans-serif;
}

#wip {
    position: relative;
    margin-left: 350px;
    top: 190px;
    width: calc(100% - 340px);
    height: calc(100% - 2% - 190px);

    display: none;
}

#wip-text {
    position: relative;

    color: #cccccc;
    font-size: 30px;
    font-family: 'Muli', sans-serif;
}
