body, html {
    margin: 0 auto;
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

#wrapper {
    margin: 0 auto;
    width: 75%;
    min-width: 960px;
}

#navbar {
    display: flex;
}

.button {
    /* creates equal size tabs */
    flex-grow: 1;
    flex-shrink: 1;

    /* for the tabs themselves */
    /* background-color: #4D89FF;  use this for hover */
    background-color: dimgrey;
    height: 70px;
    float: left;
    position: relative;

    /* for the text */
    color: white;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    vertical-align: middle;
    line-height: 70px;
    cursor: pointer;
}

#content {
    position: relative;
    height: 700px;
}

#home_container {
    position: relative;
    top: 125px;
    text-align: center;
}

#home_pic img {
    border-radius: 100%;
}

#typeit {
    margin-top: 15px;
    font-size: 35px;
    font-family: 'Muli', sans-serif;
    color: #333333;
}

#incomplete {
    position: relative;
    text-align: center;
    top: 40%;
    transform: translateY(-50%);
    font-size: 65px;
    font-family: 'Muli', sans-serif;
    color: #333333;
    cursor: pointer;
}

#about_pic {
    position: relative;
    top: 60px;
}

#text {
    position: relative;
    left: 480px;
    bottom: 540px;
    font-family: 'Muli', sans-serif;
    color: #333333;
}
